

body{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .container{
        width: 60%;
        margin:auto;
    }
    .box-1{
        
        background-color: #ff6768;
        color: #fff;
        border: 5px #17223b solid;
        padding: 10px;

    }
    .box-1 h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
        font-style: bold;
        font-size: 30px;
        text-decoration: underline;
text-transform:uppercase;
word-spacing: 2em;
letter-spacing: 2em;


    }
    a{
        text-decoration: none;
        color:#333
        ;
    }
    a:hover{
        color:red;
    }
    a:active{
        color:green;
    }
    
    .box-2
    {
        border: 3px #333 dotted;
        padding: 10px;
        margin: 20px 0;
        color: #333;

    }
    .categories{
        border: 1px #ccc solid;
        padding: 10px;
        border-radius: 15px;
        color: #333;;
    }
    .categories h2{
        text-align: center;

    }
    .categories ul{
        padding:left 5px;
        list-style: square;
        list-style: none;
    }
.categories li{
    padding-bottom: 3px;
    list-style-image:url('..//assets/red.png') ;
    padding-left: 5px;
    color:#333;

}
.my_form{
padding: 0px;
margin: 50px; 
}
.form_group{
    padding: 3px;
}
.my_form label{
    display:block;
}

.my_form .form_group{
    padding-bottom: 15px;
}
.my_form input[type="email"], .my_form input[type="password"]
{
    padding: 8px;
    width: 80%;
}
.my_form button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
    display: ;
}
.clr{
    clear:both
}
.button
{
    background-color: #333;
    color:rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    display: ;
}
.button:hover{
    background: white;
color: #333;}
.block{
    
    margin-top:10%;
    float:left;
    
    width: 33.3%;
    padding: 10px;
    box-sizing:border-box;
    color: #333;
    border: 1px #333 dashed;
}

#main-block{
    float:left;
    width: 70%;
box-sizing: border-box;
padding: 15px;
background-color: #ff6768;
}
#sidebar{
    float:right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding:15px;
    box-sizing:border-box 
}
